body {
  background-color: var(--background-color);
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

/* Preloader */

#preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-color);
  z-index: 999;
  width: 100%;
  height: 100%;
}

.spinner {
  width: 5rem;
  height: 4rem;
  text-align: center;
  font-size: 1rem;
  margin: 10rem auto;
}

.rect {
  background-color: var(--cyan-color);
  height: 100%;
  width: 0.6rem;
  display: inline-block;
  animation: stretchDelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}
.spinner .rect3 {
  animation-delay: -1s;
}
.spinner .rect4 {
  animation-delay: -0.9s;
}
.spinner .rect5 {
  animation-delay: -0.8s;
}

@keyframes stretchDelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
  }
}

/* HEADER */
.header {
  /* width: 100vw; */
  background-color: var(--background-color);
  border-bottom: 0.1rem solid #1c232c;
  position: relative;
  /* top: 600px; */
  top: 0;
  z-index: 99;
  /* height: 10.5rem; */
}

.header.header__fixed {
  position: fixed;
  inset: 0;
  width: 100%;
  height: fit-content;
  z-index: 99;
  background-color: var(--background-color);
  animation: fadeInHeader 1s ease-out forwards;
  box-shadow: 0 1rem 1.5rem rgb(25 25 25 / 10%);
}

@keyframes fadeInHeader {
  0% {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar {
  display: flex;
  align-items: center;
  /* height: 10.3rem; */
  /* position: relative; */
  justify-content: space-between;
}

.navbar__container {
  display: flex;
  align-items: center;
}

.navbar__logo {
  /* height: 84px; */
}

.navbar__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 140px;
  text-transform: uppercase;
  position: relative;
  height: 100%;
}

.navbar__list-item + .navbar__list-item {
  margin-left: 6.5rem;
}

.navbar__list-item {
  position: relative;
  display: flex;
}

.navbar__list-item::after {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0.35rem;
  background-color: var(--cyan-color);
  bottom: 0;
  right: 0;
  width: 0;
  transition: var(--transition-500ms);
}

.navbar__list-item:hover::after {
  width: 100%;
  left: 0;
  visibility: visible;
}

.navbar__list-item.active::after {
  content: "";
  position: absolute;
  visibility: visible;
  width: 100%;
  left: 0;
  transition: var(--transition-500ms);
}

.navbar__list-item-link {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 3.9rem 0;
  letter-spacing: 0.1rem;
  position: relative;
}

.navbar__action {
  /* position: absolute; */
  right: 1.5rem;
  list-style: none;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 100%;
}

.navbar__action-lang {
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  cursor: pointer;
  position: relative;
}

.selected-lang {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  color: var(--cyan-color);
}

.navbar__action-btn {
  position: relative;
  padding-left: 6.5rem;
  margin-left: 6.3rem;
}

.navbar__action-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 0.2rem;
  height: 2.8rem;
  background-color: var(--white-color);
  opacity: 0.2;
}

/* MOBILE TOGGLE */

.mobile-nav-toggler {
  color: #fff;
  font-size: 3rem;
  margin-left: 4rem;
  display: none;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 30rem;
  padding-right: 3rem;
  max-width: 100%;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
  border-radius: 0rem;
  transition: all 700ms ease;
  transform: translateX(101%);
}

.mobile-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}

.mobile-menu .menu-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: #0b1d33;
  padding: 0 0;
  z-index: 5;
  box-shadow: -0.9rem 0 1.4rem 0 rgb(0 0 0 / 6%);
}

.mobile-menu.active .menu-box {
  opacity: 1;
  visibility: visible;
}

.mobile-menu .close-btn {
  position: absolute;
  right: 1.5rem;
  top: 2.8rem;
  line-height: 3rem;
  width: 3.5rem;
  text-align: center;
  font-size: 2rem;
  color: #00c4f4;
  cursor: pointer;
  z-index: 10;
  transition: all 0.9s ease;
}

.mobile-menu.active .close-btn {
  transform: rotate(360deg);
}

.mobile-menu .nav-logo {
  position: relative;
  padding: 3rem 2.5rem;
  text-align: left;
}

.nav-logo img {
  max-height: 6.5rem;
}

.mobile-menu .navigation {
  position: relative;
  display: block;
  width: 100%;
  float: none;
}

.mobile-menu .navigation:last-child {
  border-bottom: 1px solid rgb(255 255 255 / 6%);
}

.mobile-menu .navigation li {
  position: relative;
  display: block;
  border-top: 1px solid rgb(255 255 255 / 6%);
}

.mobile-menu .navigation li > a {
  position: relative;
  display: block;
  line-height: 2.4rem;
  padding: 1rem 6rem 1rem 2.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: all 500ms ease;
  border: none;
  letter-spacing: 0.08em;
}

/* .mobile-menu .navigation li > a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  transition: all 500ms ease;
} */

.sub-menu {
  height: 0;
  opacity: 0;
  transition: all 0.2s linear;
}

.showMenu .sub-menu {
  height: 100%;
  opacity: 1;
  /* display: block; */
}

.mobile-menu .navigation li > ul > li:first-child {
  border-top: 1px solid rgb(255 255 255 / 6%);
}

.mobile-menu .navigation li ul li > a {
  font-size: 1.5rem;
  margin-left: 2rem;
  text-transform: capitalize;
}

.mobile-menu .navigation li.menu-item-has-children .dropdown-btn {
  position: absolute;
  right: 1.5rem;
  top: 0.6rem;
  width: 3.2rem;
  height: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 3.2rem;
  color: #fff;
  background: #00c4f4;
  cursor: pointer;
  border-radius: 0.2rem;
  transition: all 500ms ease;
  z-index: 5;
}

.showMenu .dropdown-btn {
  transform: rotate(90deg);
}

.social-links {
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.mobile-menu .social-links ul {
  display: flex;
  position: relative;
  text-align: center;
  padding: 3rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mobile-menu .social-links li {
  position: relative;
  display: inline-block;
  margin: 0 0.6rem 1rem;
}

.mobile-menu .social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  position: relative;
  line-height: 3.2rem;
  font-size: 1.6rem;
  color: #fff;
  transition: all 500ms ease;
  border: 1px solid rgb(255 255 255 / 10%);
  border-radius: 3px;
}

.menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  transition: all 700ms ease;
  opacity: 0;
  visibility: hidden;
  background: #0b1d33;
}

.menu-backdrop.active {
  opacity: 0.8;
  visibility: visible;
}

/* END MOBILE TOGGLE */

.btn {
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.4rem 4.5rem;
  border-radius: 7rem;
  border: 0.2rem solid transparent;
  position: relative;
  background-color: var(--background-color);
  background-clip: padding-box;
  cursor: pointer;
  transition: var(--transition);
  /* z-index: 0; */
  display: inline-block;
}

.btn::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 196, 244, 1) 0%,
    rgba(4, 12, 21, 1) 49%,
    rgba(0, 196, 244, 1) 100%
  );
  border-radius: 7rem;
  z-index: -1;
  margin: -2px;
}

.btn:hover {
  border: 0.2rem solid var(--cyan-color);
  color: var(--cyan-color);
}

/* Sub Menu */
.navbar__list-item-sub {
  position: absolute;
  background-color: #0b1d33;
  padding: 2rem 2.5rem;
  min-width: 23rem;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 0;
  border: 0.1rem solid #1c232c;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0 0;
  transform: scale(1, 0);
  transition: var(--transition);
}

.navbar__list-item-sub::before {
  content: "";
  position: absolute;
  width: 4.5rem;
  height: 5rem;
  background-color: transparent;
  top: -40%;
  left: 0;
}

.navbar__list-item-sub-text {
  text-decoration: none;
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem 0;
  transition: var(--transition);
}

.navbar__list-item-sub-text:hover,
.navbar__list-item-sub-lang-text:hover {
  color: var(--cyan-color);
}

.navbar__list-item:hover .navbar__list-item-sub {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/* Sub Lang */
.navbar__list-item-sub-lang {
  position: absolute;
  background-color: #0b1d33;
  padding: 0.5rem 1.5rem;
  top: 180%;
  left: -20%;
  border-radius: 0.6rem;
  min-width: 10rem;
  min-height: 14rem;
  visibility: hidden;
  opacity: 0;
  transform-origin: top center;
  transform: perspective(40rem) rotateX(-45deg);
  transition: var(--transition);
}

.navbar__list-item-sub-lang-text {
  text-transform: uppercase;
  margin: 0.5rem 0;
  transition: var(--transition);
}

.navbar__list-item-sub-lang::before {
  content: "";
  position: absolute;
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  top: -20%;
  left: 0;
}

.navbar__action-lang:hover .navbar__list-item-sub-lang {
  visibility: visible;
  opacity: 1;
  transform: none;
}

/* MAIN */

.main {
  height: 100%;
  overflow: hidden;
}

.banner {
  background-image: url("../img/banner/banner_bg.jpg");
  width: 100%;
  height: fit-content;
  /* background-position: center; */
  background-size: cover;
  position: relative;
  z-index: 0;
  top: -10.8rem;
  padding-top: 11rem;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0.23deg,
    #030b15 5.68%,
    rgba(3, 11, 21, 0.42) 81.9%
  );
  z-index: -1;
}

/* BANNER SHAPE */

.banner__shape {
  /* position: relative; */
  /* height: 100%; */
}

.banner__shape--one {
  position: absolute;
  top: 33%;
  left: -3%;
  animation: leftToRight 5s infinite linear;
}
.banner__shape--two {
  position: absolute;
  top: 26%;
  right: 8%;
}
.banner__shape--three {
  position: absolute;
  bottom: 24%;
  right: -2%;
  animation: bottomToTop 3s infinite linear;
}

@keyframes leftToRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes bottomToTop {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* CONTAINER */

.banner__container {
  position: relative;
}

.banner__container-content {
  margin-top: 12rem;
  max-width: 107rem;
}

.banner__container-content-text {
  color: var(--white-color);
  margin-top: 2.5rem;
  font-size: 5.5rem;
  font-weight: 600;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: -0.01em;
}

.banner__container-content-text--cyan {
  color: var(--cyan-color);
}

.banner__progress {
  min-width: 77rem;
  margin: 4.5rem 0 0;
}
.banner__progress-title {
  text-transform: uppercase;
  color: white;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 3.5rem;
  margin: 0 5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.banner__progress-title--cyan {
  color: var(--cyan-color);
}
.banner__progress-title--orange {
  color: var(--orange-color);
}

.banner__progress-title--green {
  color: var(--green-color);
}

.banner__progress-title--color {
  position: relative;
}

.banner__progress-title--cyan::before,
.banner__progress-title--orange::before,
.banner__progress-title--green::before {
  content: "";
  position: absolute;
  width: 0.2rem;
  height: 1.4rem;
  background-color: var(--white-color);
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
}

.banner__progress-title--cyan::before {
  background-color: var(--cyan-color);
}

.banner__progress-title--orange::before {
  background-color: var(--orange-color);
}

.banner__progress-title--green::before {
  background-color: var(--green-color);
}

.banner__progress-bar {
  height: 0.6rem;
  background-color: var(--white-color);
}

.banner__progress-bar-child {
  width: 75%;
  height: 0.6rem;
  background-color: var(--cyan-color);
  position: relative;
}

.banner__progress-bar-child::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100rem;
  background-color: var(--white-color);
  border: 0.6rem solid var(--cyan-color);
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.banner__progress-about {
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-top: 2.5rem;
  word-spacing: 0.2rem;
}

.banner__countdown {
  margin-top: 7.5rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.banner__countdown-title {
  color: var(--white-color);
  font-size: 2.6rem;
  text-transform: capitalize;
  font-weight: 600;
}

.banner__countdown-time {
  display: flex;
  margin: 3.5rem 0 0;
  justify-content: space-around;
  width: 100%;
  column-gap: 3.5rem;
}

.time-count {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 3.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  background-color: var(--forceground-color);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(128, 128, 128, 0.1);
  padding: 0.9rem 5.9rem;
  flex: 1;
  max-width: 16.2rem;
}

.time-count--text {
  font-size: 1.4rem;
  color: var(--grey-color);
  font-weight: 500;
  /* margin-top: 1rem; */
}

.time-count--day {
  color: var(--cyan-color);
}

.time-count--hour {
  color: var(--orange-color);
}

.time-count--min {
  color: var(--red-color);
}

.time-count--sec {
  color: var(--green-color);
}

/* ABOUT */
.about {
}

.about__container {
}

.about__container-img {
  position: relative;
  width: 50%;
  padding: 0 1.5rem;
}

.about-img {
  padding-left: 12rem;
}

.about-img--left {
  position: absolute;
  top: 4rem;
  left: 6rem;
}

.about__container-content {
  width: 50%;
  min-height: 42.7rem;
  position: relative;
  padding: 0 1.5rem;
}

.about-content {
  margin-left: 7rem;
}

.section-title {
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  padding: 0 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  position: relative;
  display: inline-flex;
}

.subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 100rem;
  background-color: var(--cyan-color);
}

.subtitle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 100rem;
  background-color: var(--cyan-color);
}

.title {
  text-transform: capitalize;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.title--cyan {
  color: var(--cyan-color);
}

.about__container-content-text {
  font-size: 1.6rem;
  color: var(--grey-color);
  width: 73%;
  line-height: 1.7;
  margin-bottom: 4rem;
}

.about__container-content .btn {
  padding: 1.9rem 5.6rem;
}

/* PARTNER */

.partner {
}

.partner .section-title {
  margin: 0;
}

.partner__container {
}

.partner__box {
  margin-top: 1rem;
}

.partner__box-img {
  width: 20%;
  height: 12.3rem;
  border: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  filter: opacity(0.5);
  transition: var(--transition);
}

.partner__box-img:hover {
  filter: opacity(1);
}

/* CHOOSE */

.choose__container-box {
  overflow: hidden;
  width: 100%;
}

.choose__container-wrapper {
  display: flex;
  gap: 1.9rem;
  flex-shrink: 1;
}

.choose-box {
  /* width: 32.8rem; */
  /* padding: 0 1rem; */
  min-width: 30.8rem;
  /* padding: 0 1rem; */
}

.choose-item {
  background: #030b15;
  border: 0.1rem solid #121a23;
  border-radius: 1.5rem;
  padding: 6rem 4rem;
  transition: var(--transition);
}

.choose-item:hover {
  border: 0.1rem solid transparent;
}

.choose-item:hover .choose-icon {
  border: 0.4rem solid var(--cyan-color);
}

.choose-icon {
  width: 8rem;
  height: 8rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.07);
  border: 0.4rem solid rgba(255, 255, 255, 0.06);
  margin-bottom: 3rem;
  transition: var(--transition);
}

.choose-content {
  font-family: "Poppins", sans-serif;
}

.choose-content-title {
  margin-bottom: 2.4rem;
}

.choose-content-title:hover a {
  color: var(--cyan-color);
}

.choose-content-title a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 2.2rem;
  font-weight: 500;
  text-transform: none;
  line-height: 1.27;
  transition: var(--transition);
}

.choose-content-text {
  font-size: 1.5rem;
  line-height: 2.2rem;
  color: var(--grey-color);
  font-family: "Outfit", sans-serif;
}

.slide-progress {
  display: block;
  width: 100%;
  height: 0.3rem;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  background-image: linear-gradient(to right, #00c4f4, #00c4f4);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
  margin-top: 5rem;
}

/* .progress-bar {
  display: block;
  width: 25%;
  height: 100%;
  background: var(--cyan-color);
  transition: var(--transition-500ms);
} */

/* CHART */

.chart {
  position: relative;
  z-index: 0;
}

.chart-bg {
  background-image: url(../img/bg/chart_bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  padding: 13rem 0;
}

.chart__container {
}

.chart__inner {
  padding: 0 11rem;
}

.chart__inner-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.chart__order {
  /* min-width: 520px; */
  /* width: 100%; */
}

.chart-wrap {
  background: var(--forceground-color);
  border-radius: 2rem;
  padding: 6rem 4.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* min-width: 52rem; */
  /* width: 50%; */
}

.chart-wrap img {
  margin-bottom: 7.5rem;
}

.chart-wrap ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

.chart-wrap ul li {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 500;
  width: 50%;
  text-align: left;
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
}

.chart-wrap ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 100rem;
  background: #005f73;
}

.chart-wrap ul li:nth-child(2):before {
  background: var(--pink-color);
}

.chart-wrap ul li:nth-child(3):before {
  background: var(--lightgreen-color);
}

.chart-wrap ul li:nth-child(4):before {
  background: var(--orange-color);
}

.chart-wrap ul li:nth-child(5):before {
  background: var(--cyan-color);
}

.chart-wrap ul li:nth-child(6):before {
  background: var(--blue-color);
}

.chart-info {
}
.chart-content {
  color: var(--white-color);
  width: 72%;
}
.chart-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 -2rem;
  margin-bottom: 5rem;
}
.chart-nav-item {
  padding: 0 2rem;
}
.chart-nav-link {
  margin-bottom: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 700;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.chart-nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 100%;
  height: 3px;
  background: #00c4f4;
  transition: 0.3s linear;
  /* opacity: 0; */
}
.nav-content {
}
.nav-title {
  font-family: "Poppins", sans-serif;
  font-size: 5.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
  letter-spacing: -0.01em;
  line-height: 1.2;
}

.nav-content p {
  color: var(--grey-color);
  margin-bottom: 4.5rem;
  font-size: 1.6rem;
  line-height: 1.75;
}

.nav-content .btn {
  background: #00c4f4;
  min-width: 20rem;
  padding: 1.5rem 5rem;
  text-align: center;
}

.nav-content .btn {
  color: var(--white-color);
}

/* AREA */

.area-bg {
  background: url("../img/bg/area_bg.png");
  background-size: cover;
  background-position: center;
}

.roadmap-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.roadmap-area::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(360deg, #0b1d33 0%, rgba(11, 29, 51, 0) 97.51%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  opacity: 0.8;
}

.roadmap-area .section-title .title {
  text-align: center;
}

.bt-roadmap-wrap {
  overflow: auto;
}

.bt-roadmap-wrap::-webkit-scrollbar {
  height: 4px;
}

.bt-roadmap-wrap::-webkit-scrollbar-thumb {
  background-color: var(--grey-color);
  border-radius: 10px;
}

.bt-roadmap-wrap:hover::-webkit-scrollbar-thumb {
  background-color: var(--cyan-color);
}

.bt-roadmap-progress {
  display: flex;
  min-height: 49rem;
  padding: 0;
  margin: 1rem 0 0;
  position: relative;
}

.bt-roadmap-progress::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 5px);
  transform: translateY(-50%);
  width: 167rem;
  height: 0.8rem;
  background: linear-gradient(294.72deg, #ff4581 9.05%, #4388dd 79.28%);
  opacity: 0.1;
}

.bt-roadmap-item {
  display: flex;
  width: 37rem;
  flex: 0 0 auto;
  height: 30.5rem;
  align-self: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}

.bt-roadmap-item:first-child {
  margin-left: 100px;
}

.bt-roadmap-item:not(:first-child) {
  margin-left: -155px;
}

.bt-roadmap-item:last-child {
  width: 280px;
}

.bt-roadmap-item:nth-child(even) {
  align-self: flex-start;
  flex-direction: column-reverse;
  margin-top: -1rem;
}

.bt-roadmap-item:nth-child(even) .roadmap-title {
  margin: 22px 0 0;
}

.bt-roadmap-item:nth-child(2) .roadmap-title,
.bt-roadmap-item:last-child .roadmap-title {
  color: var(--pink-color);
}

.bt-roadmap-item:nth-child(3) .roadmap-title,
.bt-roadmap-item:nth-child(6) .roadmap-title {
  color: var(--orange-color);
}

.bt-roadmap-item:nth-child(4) .roadmap-title {
  color: var(--lightgreen-color);
}

.bt-roadmap-item:nth-child(5) .roadmap-title {
  color: var(--blue-color);
}

.bt-roadmap-item:nth-child(2) .roadmap-content::before,
.bt-roadmap-item:nth-child(2) .dot,
.bt-roadmap-item:nth-child(2) .dot::before,
.bt-roadmap-item:last-child .roadmap-content::before,
.bt-roadmap-item:last-child .dot,
.bt-roadmap-item:last-child .dot::before {
  background-color: var(--pink-color);
}

.bt-roadmap-item:nth-child(3) .roadmap-content::before,
.bt-roadmap-item:nth-child(3) .dot,
.bt-roadmap-item:nth-child(3) .dot::before,
.bt-roadmap-item:nth-child(6) .roadmap-content::before,
.bt-roadmap-item:nth-child(6) .dot,
.bt-roadmap-item:nth-child(6) .dot::before {
  background-color: var(--orange-color);
}

.bt-roadmap-item:nth-child(4) .roadmap-content::before,
.bt-roadmap-item:nth-child(4) .dot,
.bt-roadmap-item:nth-child(4) .dot::before {
  background-color: var(--lightgreen-color);
}

.bt-roadmap-item:nth-child(5) .roadmap-content::before,
.bt-roadmap-item:nth-child(5) .dot,
.bt-roadmap-item:nth-child(5) .dot::before {
  background-color: var(--blue-color);
}

.bt-roadmap-item:nth-child(even) .roadmap-content .dot {
  top: auto;
  bottom: 0;
}

.bt-roadmap-item:nth-child(even) .roadmap-content {
  padding: 0 0 110px 17px;
}

.roadmap-title {
  display: inline-block;
  color: var(--cyan-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
  letter-spacing: 0.1em;
}

.roadmap-content {
  position: relative;
  margin-left: 5.7rem;
  padding-left: 1.7rem;
  padding-top: 11rem;
}

.roadmap-content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.1rem;
  height: 100%;
  background: var(--cyan-color);
}

.dot {
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100rem;
  background: var(--cyan-color);
}

.dot::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100rem;
  background-color: var(--cyan-color);
  opacity: 0.1;
}

.content-title {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--white-color);
}

.roadmap-content span {
  display: block;
  color: var(--grey-color);
}

/* DOCUMENT */
.document__container--59 {
  flex: 0 0 auto;
  width: 58.33333%;
  max-height: 61.2rem;
}

.document__container--41 {
  flex: 0 0 auto;
  width: 41.66667%;
}

.document-list {
  margin-bottom: 4rem;
}

.document-list li {
  font-size: 18px;
  color: var(--white-color);
  position: relative;
  margin-bottom: 15px;
  padding-left: 15px;
  list-style: none;
}

.document-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100rem;
  background: var(--white-color);
}

.document-content .btn {
  padding: 1.9rem 5.4rem;
}

/* TEAM */
.team {
  position: relative;
  z-index: 1;
}

.team::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, #0b1d33 0%, rgba(11, 29, 51, 0) 97.51%);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: -1;
}

.team__container {
  flex: 0 0 auto;
  width: 25%;
  padding: 0 1.5rem;
}

.team-item {
  text-align: center;
  margin-bottom: 6rem;
}

.team-thumb {
  position: relative;
  border-radius: 100rem;
  padding: 1.5rem;
  margin-bottom: 3rem;
  display: inline-block;
}

.team-thumb::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 22.6rem;
  height: 22.6rem;
  border-radius: 100rem;
  background: transparent;
  border: 2px dashed var(--cyan-color);
  transition: opacity 0.3s linear;
  animation: teamRotate 10s linear infinite;
  opacity: 0;
}

.team__container:hover .team-thumb::before {
  opacity: 1;
}

@keyframes teamRotate {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

.team-thumb img {
  border-radius: 100rem;
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

.team__container:hover .team-thumb img {
  filter: none;
}

.team-content {
}

.team-content .title {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  transition: var(--transition);
}

.team-content span {
  display: block;
  margin-bottom: 1rem;
}

.team-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -1rem;
}

.team-social li {
  list-style: none;
  padding: 0 1rem;
}

.team-social li a {
  color: var(--white-color);
  font-size: 1.3rem;
  transition: var(--transition);
}

.team-social li:hover a {
  color: var(--cyan-color);
}

/* CONTACT */
.contact-info-wrap {
  margin-bottom: 5rem;
}

.contact-info-container {
  flex: 0 0 auto;
  width: 33.33333%;
  padding: 0 1.5rem;
}

.contact-info-item,
.contact-info-last-item {
  text-align: center;
  position: relative;
  margin-bottom: 3rem;
}

.contact-info-item::before {
  content: "";
  position: absolute;
  right: -6.1rem;
  top: 4.4rem;
  background-image: url(../img/images/line.png);
  width: 12.2rem;
  height: 0.9rem;
}

.icon {
  width: 10.7rem;
  height: 10.7rem;
  border-radius: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  font-size: 2.8rem;
  color: var(--orange-color);
  margin: 0 auto;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.07);
  z-index: 1;
  margin-bottom: 1rem;
}

.icon--pink {
  color: var(--pink-color);
}

.icon--pink .icon-bg::before {
  border-color: var(--pink-color);
}

.icon--cyan {
  color: var(--cyan-color);
}

.icon--cyan .icon-bg::before {
  border-color: var(--cyan-color);
}

.icon-bg {
  position: absolute;
  width: 8.3rem;
  height: 8.3rem;
  border-radius: 100rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--forceground-color);
  z-index: -1;
}

.icon-bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8.3rem;
  height: 8.3rem;
  border-radius: 100rem;
  background: transparent;
  border: 3px solid var(--orange-color);
}

.content p {
  color: var(--white-color);
  font-size: 2.2rem;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 3rem;
}

.contact-form-wrap {
  background-image: url(../img/bg/contact_bg.png);
  background-position: center;
  background-size: cover;
  padding: 8rem;
}

.contact-form-wrap .grid__row {
  justify-content: space-between;
  margin: 0 -1.5rem;
}

.form-container {
  flex: 0 0 auto;
  width: 50%;
  padding: 0 1.5rem;
}

.form-grp {
  margin-bottom: 3rem;
}

.form-grp input,
.form-grp textarea {
  width: 100%;
  background: var(--forceground-color);
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 400;
  padding: 1.8rem 2rem;
  height: 6.5rem;
}

.form-grp textarea {
  min-height: 18.4rem;
  max-height: 18.4rem;
}

.contact-form-wrap .submit-btn .btn {
  background: var(--forceground-color);
  border-color: var(--cyan-color);
  padding: 2rem 5rem;
}

/* FOOTER */

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    359.43deg,
    #0b1d33 11.06%,
    rgba(11, 29, 51, 0) 99.43%
  );
  z-index: -1;
}

.footer,
.footer-scroll-wrap {
  position: relative;
  z-index: 1;
}

.footer-scroll-wrap::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0.1rem;
  background: #1f262f;
  z-index: -1;
}

.scroll-to-target {
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  border: 1px solid #1f262f;
  font-size: 1.8rem;
  padding: 0 0;
  color: var(--white-color);
  margin: 0 auto;
  cursor: pointer;
  transition: var(--transition);
}

.scroll-to-target:hover {
  background-color: var(--cyan-color);
}

.footer-top {
  padding: 5.5rem 0 5rem;
}

.footer-top .grid__row {
  justify-content: space-between;
  margin: 0 -1.5rem;
}

.footer-container {
  flex: 0 0 auto;
  width: 25%;
  padding: 0 1.5rem;
}

.footer-top .footer-container:nth-child(3) {
  flex: 0 0 auto;
  width: 16.66667%;
}

.footer-widget {
  margin-bottom: 3rem;
}

.f-logo {
  margin-bottom: 2rem;
  display: block;
}

.footer-content p {
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  line-height: 2.6rem;
  color: var(--grey-color);
}

.footer-social {
  display: flex;
  align-items: center;
  margin: 0 -0.7rem;
}

.footer-social li {
  padding: 0 0.7rem;
}

.footer-social li a {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #719ed6;
  font-size: 1.5rem;
  color: var(--white-color);
  font-weight: 400;
  transition: var(--transition);
}

.footer-social li:hover a {
  background-color: var(--cyan-color);
  border: 2px solid var(--cyan-color);
}

.footer-top .footer-container:nth-child(2) .footer-widget {
  margin-left: 8rem;
}

.fw-title {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 2.5rem 0 2.7rem;
}

.footer-link ul li {
  margin-bottom: 1rem;
}

.footer-link ul li a {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--grey-color);
  position: relative;
  transition: var(--transition);
}

.footer-link ul li a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--white-color);
  visibility: hidden;
  transition: var(--transition-500ms);
}

.footer-link ul li a:hover {
  color: var(--white-color);
}

.footer-link ul li a:hover::before {
  width: 100%;
  left: 0;
  visibility: visible;
}

.footer-newsletters p {
  font-size: 1.5rem;
  line-height: 2.6rem;
  margin-bottom: 6rem;
  color: var(--grey-color);
}

.footer-newsletters form {
  position: relative;
}

.footer-newsletters form input {
  width: 100%;
  border: none;
  background: rgb(118 118 130 / 10%);
  border-radius: 1rem;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 2.3rem 8rem 2.3rem 2.5rem;
  color: var(--white-color);
  height: 7.2rem;
}

.footer-newsletters form button {
  position: absolute;
  right: 0;
  top: 0;
  width: 6.5rem;
  height: 7.2rem;
  background: #00c4f4;
  border-radius: 1rem;
  font-size: 2rem;
  color: var(--white-color);
  border: none;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid rgb(255 255 255 / 6%);
  padding: 2.7rem 0;
}

.footer-bottom-container {
  flex: 0 0 auto;
  width: 50%;
}

.copyright-text p {
  color: var(--white-color);
  margin-bottom: 0;
  font-size: 1.5rem;
}

.footer-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 -3rem;
}

.footer-menu ul li {
  padding: 0 3rem;
}

.footer-menu ul li a {
  font-size: 15px;
  color: var(--grey-color);
  font-weight: 500;
  transition: var(--transition);
}

.footer-menu ul li:hover a {
  color: var(--white-color);
}

/* ANIMATION */

.about-img,
.chart-info {
  transform: translateX(-3rem);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-700ms);
  transition-delay: 0.2s;
}

.about-content,
.chart__order,
.document-content {
  transform: translateX(3rem);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-700ms);
  transition-delay: 0.2s;
}

.document-img,
.footer-container {
  transform: translateY(3rem);
  visibility: hidden;
  opacity: 0;
  transition: var(--transition-700ms);
  transition-delay: 0.2s;
}

.footer-container:nth-child(2) {
  transition-delay: 0.3s;
}
.footer-container:nth-child(3) {
  transition-delay: 0.5s;
}

.footer-container:nth-child(4) {
  transition-delay: 0.7s;
}

.animated {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
