*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  font-family: "Inter", sans-serif;
}

/* body {
  background-color: #0e0e0e;
} */

#main {
  background-color: white;
  display: block;
  margin: 0 auto;
}

#header {
  height: 145px;
  display: flex;
  justify-content: space-between;
}

#jbox {
  width: 80px;
  height: 80px;
  background-color: black;
  border-radius: 16px;
  margin-left: 25px;
  margin-top: 30px;
}

#jbox p {
  color: white;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  font-weight: bold;
}

#contact {
  list-style-type: none;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

#contact li {
  background-color: #f26464;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 15px;
}

#contact li:hover {
  background-color: yellow;
}

#contact li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

#contact li a:hover {
  color: black;
}

#content {
  margin: 60px 45px 0px;
}

#introduce {
  margin-top: 75px;
}

#introduce p {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}

#introduce h1 {
  font-style: bold;
  font-size: 55px;
  font-weight: 700;
}

#exp {
  margin-top: 50px;
  width: 70%;
}

#exp #exp-number {
  font-size: 55px;
  font-weight: 800;
  color: #f26464;
}

#exp #exp-text {
  font-size: 25px;
  color: grey;
  letter-spacing: 2.5px;
}

#about {
  margin-top: 50px;
}
.aboutme-btn {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  word-spacing: 5px;
  border: none;
  background-color: white;
  width: 168px;
  height: 50px;
  cursor: pointer;
  text-align: left;
}

.active {
  border-bottom: solid 5px #f26464;
}

#about p {
  margin-top: 35px;
  text-transform: none;
  font-size: 25px;
  color: grey;
  font-weight: 400;
  line-height: 50px;
  word-spacing: 1px;
}

#footer {
  margin-top: 150px;
  background-color: black;
  height: auto;
  color: white;
  text-align: center;
  word-spacing: 1px;
}

#touch {
  padding-top: 100px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: grey;
  letter-spacing: 0.5px;
}

#talk {
  padding-top: 25px;
  font-weight: 600;
  font-size: 80px;
}

#feel {
  font-size: 35px;
  word-spacing: 1px;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
}

.talk-btn {
  color: #f26464;
  font-size: 25px;
  text-transform: uppercase;
  border-radius: 50px;
  width: 240px;
  height: 80px;
  letter-spacing: 5px;
  background-color: black;
  border: solid 1px #f26464;
  cursor: pointer;
  line-height: 75px;
}

.talk-btn:hover {
  border: solid 1px yellow;
  color: yellow;
}

#cre {
  padding-top: 50px;
  font-size: 25px;
  color: grey;
  padding-bottom: 100px;
  font-weight: 500;
  letter-spacing: 0.4px;
}
